@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
  color: #111827;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}